{% extends 'base.html.twig' %}

{% block contenido %}
    <div class="main-container inner-page">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-6 page-sidebar mobile-filter-sidebar">
                    <h3 class="text-left"> Trayecto: {{ trayecto }} </h3>
                               {% include 'list/_trayecto.html.twig' %}
                    <a class="btn btn-primary" href="{{ path('public_list') }}"> Regresar al listado de Trayectos</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
